<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SamaritanDB Demo | Thank You</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="css/output.css">
    <style>
        .side-bar {
            background: url("img/cyber.jpeg");
        }

        .side-bar-overlay {
            background-color: rgba(0, 0, 0, 0.486);
        }
    </style>
</head>

<body class="w-screen h-screen md:grid md:grid-cols-[30%_70%]">
    <!-- sidebar begins -->
    <div class="bg-black side-bar bg-center hidden md:block">
        <div class="side-bar-overlay h-full px-8 py-10 ">
            <img src="img/algorealm-05.png" class="max-w-[200px]">
        </div>
    </div>
    <div class="md:hidden block pt-6 pl-4">
        <img src="img/algorealm-04.png" class=" max-w-[150px]">
    </div>
    <!-- sidebar ends-->
    <!-- Main game starts -->
    <div class="min-h-screen md:flex md:flex-col md:pt-10 pt-4 h-full ">
        <div class="md:w-[70%] w-[90%] mx-auto flex-grow">
            <p class="font-light text-xs text-gray-400 border-b border-gray-200 py-2 mb-4">
                Task 9/9
            </p>
            <!-- heading begins -->
            <p class="text-2xl font-bold mb-7 md:mb-0">Thank you!</p>
            <div id="thanks"
                class="flex flex-col gap-3 w-full justify-center text-lg text-gray-800 text-center items-center h-[60%]">
                <p class="text-center">
                    Thank you for completing this exploration journey.

                </p>
                <p>
                    Now you understand the vision and what we’re building.
                    We want you to own and control all that you put on the internet
                    across all applications. This will change everything.
                    Join us as we embark on this daring adventure!
                </p>
                <p>
                    For a concise explanation on SamaritanDB and why its important,
                    <a class="!text-blue-300 underline" href="https://algorealm.gitbook.io/samaritandb/">view here</a>. It’ll provide you with more
                    technical insight.
                </p>
            </div>
        </div>

        <div class="bg-gray-300 text-center py-1 mt-10">
            Copyright &copy; 2023 Algorealm Inc. All Rights Reserved
        </div>
    </div>

</body>

</html>